body {
    position: relative;
}
#div3 {
    border-left: 1px solid;
     border-right: 1px solid;
      border-bottom: 1px solid;
    height: 100px;
    width: 60px;
    position: absolute;
    top: 200px;
    left: 200px;
}
#drag1 {
    background: red;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    float: left;
    margin: 0;
    padding: 0;
}
